.planos {

    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}



.planos button { 

    width: 200px;
    border: 2px rgb(10, 10, 10) solid;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    box-shadow: black 3px 3px 0px;
    background-color: rgb(253, 248, 248);
    align-items: center;
}

.planos .academia { 
    text-align: center;
    background-color: brown;
}
.body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
